@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>D&amp;D Gamekeeper</h1>
    <p class="lead">From here you can conquer anything. You need only imagine.</p>
    <p><a href="http://dnd.wizards.com/" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create a game</h2>
        <p>
            Set up a new D&amp;D game - pick your characters, your map, etc.
        </p>
        <p><a class="btn btn-success" href="http://go.microsoft.com/fwlink/?LinkId=301865" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Create characters</h2>
        <p>Thought of a new character you want to try out? Build them here.</p>
        <p><a class="btn btn-warning" href="http://dnd.wizards.com/dungeons-and-dragons/story/heroes" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More...?</h2>
        <p>There must be something else you can do. Maybe create a map?</p>
        <p><a class="btn btn-primary" href="http://dngen.co.uk/editor.html" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>