@model DungeonsAndDragons.Models.OverviewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>D&amp;D Manager</h1>
    <p class="lead">Manage all your games and players</p>
    <p><a href="http://dnd.wizards.com/" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.Partial("_Games", Model.Games)
    </div>
    <div class="col-md-4">
        @Html.Partial("_PlayerCharacters", Model.Players)
    </div>
    <div class="col-md-4">
        <h2>Something else</h2>
        <p>To be continued...</p>
        <p><a class="btn btn-default" href="#">Another link &raquo;</a></p>
    </div>
</div>
